.header {
  padding: 3rem;
  background-color: #e5989b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.headerTitle {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  font-style: italic;
  text-transform: uppercase;
  color: #6d6875;
}

.headerSubTitle{
    font-size: 2.5rem;
}

.headerFile {
  font-size: 2rem;
}
